extends ../_layout/_docs-layout

block variables
  - var slug = 'empty'
  - var parent = 'components'
  - var title = 'Empty states - Components - Spectre.css CSS Framework'
  - var description = 'Empty states/blank slates are commonly used as placeholders for first time use, empty data and error screens. Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('empty', 'Empty states')
    include ../_layout/_ad-g

    p
      | Empty states/blank slates are commonly used as placeholders for first time use, empty data and error screens.

    .docs-demo.columns
      .column.col-12
        .empty
          .empty__icon
            i.icon.icon-3x.icon-mail
          p.empty__title.h5 You have no new messages
          p.empty__subtitle Click the button to start a conversation
          .empty__action
            button.btn.btn--primary Send a message
      .column.col-12
        .empty
          .empty__icon
            i.icon.icon-3x.icon-mail
          p.empty__title.h5 You've successfully signed up
          p.empty__subtitle Click the button to invite your friends
          .empty__action
            button.btn.btn--primary Invite your friends
          .empty__action
            button.btn.btn--link Skip
      .column.col-12
        .empty
          .empty__icon
            i.icon.icon-3x.icon-people
          p.empty__title.h5 You are not following anyone
          p.empty__subtitle Start to meet new friends
          .empty__action.input-group.form-input--inline
            input.form-input(type="text" placeholder="")
            button.btn.btn--primary.input-group__btn Search

    p
      | An empty state component can include icons, messages (title and subtitle messages) and action buttons or any combination of those elements.
      | Add #[code empty__icon], #[code empty__title], #[code empty__subtitle] or #[code empty__action] to the elements.
      | HTML structure is exampled below.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="empty">
            <div class="empty__icon">
              <i class="icon icon-people"></i>
            </div>
            <p class="empty__title h5">You have no new messages</p>
            <p class="empty__subtitle">Click the button to start a conversation.</p>
            <div class="empty__action">
              <button class="btn btn--primary">Send a message</button>
            </div>
          </div>

    include ../_layout/_ad-c

  include ../_layout/_footer
