extends ../_layout/_docs-layout

block variables
  - var slug = 'modals'
  - var parent = 'components'
  - var title = 'Modals - Components - Spectre.css CSS Framework'
  - var description = 'Modals are flexible dialog prompts. Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('modals', 'Modals')
    include ../_layout/_ad-g

    p Modals are flexible dialog prompts.

    .docs-demo.columns
      .column
        a.btn.btn--primary(href="#example-modal-1") Open Modal
        #example-modal-1.modal
          a.modal__overlay(href="#modals" aria-label="Close")
          .modal__container(role="document")
            .modal__header
              a.btn.btn--clear.float-right(href="#modals" aria-label="Close")
              .modal-title.h5 Modal title
            .modal__body
              .content
                p This is the content inside the modal.
                h4 Lorem ipsum
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                p
                  | Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.
                h4 Cupcake ipsum
                p
                  | Jelly-o sesame snaps halvah croissant oat cake cookie. Cheesecake bear claw topping. Chupa chups apple pie carrot cake chocolate cake caramels.
                p
                  | De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve.
                h4 Candy ipsum
                p
                  | Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar.
                p
                  | Caerphilly swiss fromage frais. Brie cheese and wine fromage frais chalk and cheese danish fontina smelly cheese who moved my cheese cow.
            .modal__footer
              button.btn.btn--primary Share
              a.btn.btn--link(href="#modals") Close

    p
      | Add a container element with the #[code modal] class.
      | And add a real container #[code modal__container] and overlay #[code modal__overlay] inside it.
      | You can add child elements with the #[code modal__header], #[code modal__body] and #[code modal__footer] - any or all of them.
    p
      | Spectre.css does not include JavaScript code, you will need to implement your JS to interact with modals.
      | To make a modal appear, add the #[code active] class to the #[code modal] container.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="modal active" id="modal-id">
            <a href="#close" class="modal__overlay" aria-label="Close"></a>
            <div class="modal__container">
              <div class="modal__header">
                <a href="#close" class="btn btn--clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Modal title</div>
              </div>
              <div class="modal__body">
                <div class="content">
                  <!-- content here -->
                </div>
              </div>
              <div class="modal__footer">
                ...
              </div>
            </div>
          </div>

    +docs-subheading('modals-sizes', 'Modal sizes')

    .docs-demo.columns
      .column.col-6.col-xs-12
        a.btn.btn--primary(href="#example-modal-2") Open small size Modal
        #example-modal-2.modal.modal--sm
          a.modal__overlay(href="#modals-sizes" aria-label="Close")
          .modal__container(role="document")
            .modal__header
              a.btn.btn--clear.float-right(href="#modals-sizes" aria-label="Close")
              .modal-title.h5 Modal title
            .modal__body
              .content
                form
                  .form-group
                    label.form-label(for="input-example-7") Name
                    input#input-example-7.form-input(type="text" placeholder="Name")
                  .form-group
                    label.form-label Gender
                    label.form-radio
                      input(type="radio" name="gender")
                      i.form-icon
                      |  Male
                    label.form-radio
                      input(type="radio" name="gender" checked="")
                      i.form-icon
                      |  Female
            .modal__footer
              button.btn.btn--primary Submit
              a.btn.btn--link(href="#modals-sizes" aria-label="Close") Close

    p
      | Use the #[code modal--sm] class for a smaller modal dialog.
      | The container max width is #[code 320px].

    .docs-demo.columns
      .column
        a.btn.btn--primary(href="#example-modal-3") Open large size Modal
        #example-modal-3.modal.modal--lg
          a.modal__overlay(href="#modals-sizes" aria-label="Close")
          .modal__container(role="document")
            .modal__header
              a.btn.btn--clear.float-right(href="#modals-sizes" aria-label="Close")
              .modal-title.h5 Modal title
            .modal__body
              .content
                p This is the content inside the modal.
                h4 Lorem ipsum
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam euismod ornare consequat.
                p
                  | Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.
                h4 Cupcake ipsum
                p
                  | Jelly-o sesame snaps halvah croissant oat cake cookie. Cheesecake bear claw topping. Chupa chups apple pie carrot cake chocolate cake caramels.
                p
                  | De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve.
                h4 Candy ipsum
                p
                  | Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar.
                p
                  | Caerphilly swiss fromage frais. Brie cheese and wine fromage frais chalk and cheese danish fontina smelly cheese who moved my cheese cow.
            .modal__footer
              button.btn.btn--primary Share
              a.btn.btn--link(href="#modals-sizes") Close

    p
      | Use the #[code modal--lg] class for a full size modal.
      | The container max width is #[code 960px].

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="modal modal--sm">
            <a href="#close" class="modal__overlay" aria-label="Close"></a>
            <div class="modal__container">
              <!-- modal structure here -->
            </div>
          </div>

    include ../_layout/_ad-c

  include ../_layout/_footer
