extends ../_layout/_docs-layout

block variables
  - var slug = 'calendars'
  - var parent = 'experimentals'
  - var title = 'Calendars - Experimentals - Spectre.css CSS Framework'
  - var description = 'Calendars are designed for date or date range picker and events display. It is made with flex layout. Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('calendars', 'Calendars')
    include ../_layout/_ad-g

    p
      | Calendars are designed for date or date range picker and events display. It is made with flex layout.

    .docs-demo.columns
      .column.col-4.col-md-12
        .calendar
          .calendar__nav.navbar
            button.btn.btn--action.btn--link.btn--lg
              i.icon.icon-arrow-left
            .navbar-primary March 2017
            button.btn.btn--action.btn--link.btn--lg
              i.icon.icon-arrow-right
          .calendar__container
            .calendar__header
              .calendar__date Sun
              .calendar__date Mon
              .calendar__date Tue
              .calendar__date Wed
              .calendar__date Thu
              .calendar__date Fri
              .calendar__date Sat
            .calendar__body
              .calendar__date.prev-month
                button.date-item 26
              .calendar__date.prev-month
                button.date-item 27
              .calendar__date.prev-month
                button.date-item 28
              .calendar__date
                button.date-item 1
              .calendar__date
                button.date-item 2
              .calendar__date
                button.date-item 3
              .calendar__date.tooltip(data-tooltip="Today")
                button.date-item.date-item--today 4
              .calendar__date.tooltip(data-tooltip="Not available")
                button.date-item(disabled="") 5
              .calendar__date
                button.date-item 6
              .calendar__date
                button.date-item 7
              .calendar__date.tooltip(data-tooltip="You have appointments")
                button.date-item.badge 8
              .calendar__date
                button.date-item 9
              .calendar__date
                button.date-item 10
              .calendar__date
                button.date-item 11
              .calendar__date
                button.date-item 12
              .calendar__date
                button.date-item 13
              .calendar__date
                button.date-item 14
              .calendar__date
                button.date-item 15
              .calendar__date.calendar-range.calendar-range--start
                button.date-item 16
              .calendar__date.calendar-range
                button.date-item 17
              .calendar__date.calendar-range
                button.date-item 18
              .calendar__date.calendar-range
                button.date-item 19
              .calendar__date.calendar-range.calendar-range--end
                button.date-item 20
              .calendar__date
                button.date-item 21
              .calendar__date
                button.date-item 22
              .calendar__date
                button.date-item 23
              .calendar__date
                button.date-item 24
              .calendar__date
                button.date-item 25
              .calendar__date
                button.date-item 26
              .calendar__date
                button.date-item 27
              .calendar__date
                button.date-item 28
              .calendar__date
                button.date-item 29
              .calendar__date
                button.date-item 30
              .calendar__date
                button.date-item 31
              .calendar__date.next-month
                button.date-item 1

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="calendar">
            <!-- calendar navbar -->
            <div class="calendar__nav navbar">
              <button class="btn btn--action btn--link btn--lg">
                <i class="icon icon-arrow-left"></i>
              </button>
              <div class="navbar-primary">March 2017</div>
              <button class="btn btn--action btn--link btn--lg">
                <i class="icon icon-arrow-right"></i>
              </button>
            </div>

            <div class="calendar__container">
              <div class="calendar__header">
                <div class="calendar__date">Sun</div>
                <div class="calendar__date">Mon</div>
                <div class="calendar__date">Tue</div>
                <div class="calendar__date">Wed</div>
                <div class="calendar__date">Thu</div>
                <div class="calendar__date">Fri</div>
                <div class="calendar__date">Sat</div>
              </div>

              <div class="calendar__body">
                <!-- calendar previous month -->
                <div class="calendar__date prev-month">
                  <button class="date-item">26</button>
                </div>
                ...
                <div class="calendar__date prev-month">
                  <button class="date-item">28</button>
                </div>

                <!-- calendar current month -->
                <div class="calendar__date">
                  <button class="date-item">1</button>
                </div>
                <div class="calendar__date">
                  <button class="date-item">2</button>
                </div>
                <div class="calendar__date">
                  <button class="date-item">3</button>
                </div>
                <!-- calendar date: today -->
                <div class="calendar__date">
                  <button class="date-item date-item--today">4</button>
                </div>
                <!-- calendar date: tooltip -->
                <div class="calendar__date tooltip" data-tooltip="You have appointments">
                  <button class="date-item">5</button>
                </div>
                <!-- calendar date: not available -->
                <div class="calendar__date tooltip" data-tooltip="Not available">
                  <button class="date-item" disabled="">6</button>
                </div>

                <!-- calendar range -->
                <div class="calendar__date calendar-range calendar-range--start">
                  <button class="date-item">7</button>
                </div>
                <div class="calendar__date calendar-range">
                  <button class="date-item">8</button>
                </div>
                <div class="calendar__date calendar-range calendar-range--end">
                  <button class="date-item">9</button>
                </div>
                ...
                <div class="calendar__date">
                  <button class="date-item">31</button>
                </div>

                <!-- calendar next month -->
                <div class="calendar__date next-month">
                  <button class="date-item">1</button>
                </div>
              </div>
            </div>
          </div>

    +docs-subheading('calendars-sizes', 'Calendars sizes')

    .docs-demo.columns
      .column.col-12
        .calendar.calendar--lg
          .calendar__nav.navbar
            button.btn.btn--action.btn--link.btn--lg
              i.icon.icon-arrow-left
            .navbar-primary March 2017
            button.btn.btn--action.btn--link.btn--lg
              i.icon.icon-arrow-right
          .calendar__container
            .calendar__header
              .calendar__date Sun
              .calendar__date Mon
              .calendar__date Tue
              .calendar__date Wed
              .calendar__date Thu
              .calendar__date Fri
              .calendar__date Sat
            .calendar__body
              .calendar__date.prev-month
                button.date-item 26
              .calendar__date.prev-month
                button.date-item 27
                .calendar__events
                  a.calendar__event.bg-error.text-light(href="#calendars") Zhonghe Festival
              .calendar__date.prev-month
                button.date-item 28
              .calendar__date
                button.date-item 1
              .calendar__date
                button.date-item 2
              .calendar__date
                button.date-item 3
              .calendar__date.tooltip(data-tooltip="Today")
                button.date-item.date-item--today 4
              .calendar__date
                button.date-item(disabled="") 5
              .calendar__date
                button.date-item 6
              .calendar__date
                button.date-item 7
              .calendar__date.tooltip(data-tooltip="You have appointments")
                button.date-item.badge 8
                .calendar__events
                  a.calendar__event.bg-primary.text-light(href="#calendars") Product launch event
                  a.calendar__event.bg-error.text-light(href="#calendars") International Women's Day
              .calendar__date
                button.date-item 9
              .calendar__date
                button.date-item 10
              .calendar__date
                button.date-item 11
              .calendar__date
                button.date-item 12
                .calendar__events
                  a.calendar__event.bg-error.text-light(href="#calendars") Arbor Day
              .calendar__date
                button.date-item 13
              .calendar__date
                button.date-item 14
              .calendar__date
                button.date-item 15
              .calendar__date.calendar-range.calendar-range--start
                button.date-item 16
              .calendar__date.calendar-range
                button.date-item 17
              .calendar__date.calendar-range
                button.date-item 18
              .calendar__date.calendar-range
                button.date-item 19
              .calendar__date.calendar-range.calendar-range--end
                button.date-item 20
                .calendar__events
                  a.calendar__event.bg-success.text-light(href="#calendars") Spring Equinox
              .calendar__date
                button.date-item 21
              .calendar__date
                button.date-item 22
              .calendar__date
                button.date-item 23
              .calendar__date
                button.date-item 24
              .calendar__date
                button.date-item 25
              .calendar__date
                button.date-item 26
              .calendar__date
                button.date-item 27
              .calendar__date
                button.date-item 28
              .calendar__date
                button.date-item 29
              .calendar__date
                button.date-item 30
              .calendar__date
                button.date-item 31
              .calendar__date.next-month.disabled
                button.date-item 1
                .calendar__events
                  a.calendar__event.bg-error.text-light(href="#calendars") April Fools' Day

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="calendar calendar--lg">
            <!-- calendar navbar structure -->

            <div class="calendar__container">
              <!-- calendar header structure -->

              <div class="calendar__body">
                <!-- calendar date with events -->
                <div class="calendar__date">
                  <button class="date-item active">20</button>
                  <div class="calendar__events">
                    <a class="calendar__event bg-success text-light" href="#calendars">Spring Equinox</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

    include ../_layout/_ad-c

  include ../_layout/_footer
