// Cursors
.#{$prefix}c-hand {
  cursor: pointer;
}

.#{$prefix}c-move {
  cursor: move;
}

.#{$prefix}c-zoom-in {
  cursor: zoom-in;
}

.#{$prefix}c-zoom-out {
  cursor: zoom-out;
}

.#{$prefix}c-not-allowed {
  cursor: not-allowed;
}

.#{$prefix}c-auto {
  cursor: auto;
}
