// Position
.#{$prefix}clearfix {
  @include clearfix();
}

.#{$prefix}float-left {
  float: left !important;
}

.#{$prefix}float-right {
  float: right !important;
}

.#{$prefix}relative {
  position: relative;
}

.#{$prefix}absolute {
  position: absolute;
}

.#{$prefix}fixed {
  position: fixed;
}

.#{$prefix}centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.#{$prefix}flex-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Spacing
@include margin-variant(0, 0);

@include margin-variant(1, $unit-1);

@include margin-variant(2, $unit-2);

@include padding-variant(0, 0);

@include padding-variant(1, $unit-1);

@include padding-variant(2, $unit-2);
