// Text
// Text alignment utilities
.#{$prefix}text-left {
  text-align: left;
}

.#{$prefix}text-right {
  text-align: right;
}

.#{$prefix}text-center {
  text-align: center;
}

.#{$prefix}text-justify {
  text-align: justify;
}

// Text transform utilities
.#{$prefix}text-lowercase {
  text-transform: lowercase;
}

.#{$prefix}text-uppercase {
  text-transform: uppercase;
}

.#{$prefix}text-capitalize {
  text-transform: capitalize;
}

// Text style utilities
.#{$prefix}text-normal {
  font-weight: normal;
}

.#{$prefix}text-bold {
  font-weight: bold;
}

.#{$prefix}text-italic {
  font-style: italic;
}

.#{$prefix}text-large {
  font-size: 1.2em;
}

// Text overflow utilities
.#{$prefix}text-ellipsis {
  @include text-ellipsis();
}

.#{$prefix}text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.#{$prefix}text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
