// Margin utility mixin
@mixin margin-variant($id: 1, $size: $unit-1) {
  .#{$prefix}m-#{$id} {
    margin: $size;
  }

  .#{$prefix}mb-#{$id} {
    margin-bottom: $size;
  }

  .#{$prefix}ml-#{$id} {
    margin-left: $size;
  }

  .#{$prefix}mr-#{$id} {
    margin-right: $size;
  }

  .#{$prefix}mt-#{$id} {
    margin-top: $size;
  }

  .#{$prefix}mx-#{$id} {
    margin-left: $size;
    margin-right: $size;
  }

  .#{$prefix}my-#{$id} {
    margin-bottom: $size;
    margin-top: $size;
  }
}

// Padding utility mixin
@mixin padding-variant($id: 1, $size: $unit-1) {
  .#{$prefix}p-#{$id} {
    padding: $size;
  }

  .#{$prefix}pb-#{$id} {
    padding-bottom: $size;
  }

  .#{$prefix}pl-#{$id} {
    padding-left: $size;
  }

  .#{$prefix}pr-#{$id} {
    padding-right: $size;
  }

  .#{$prefix}pt-#{$id} {
    padding-top: $size;
  }

  .#{$prefix}px-#{$id} {
    padding-left: $size;
    padding-right: $size;
  }

  .#{$prefix}py-#{$id} {
    padding-bottom: $size;
    padding-top: $size;
  }
}
