extends _layout/_docs-layout

block variables
  - var slug = 'components'
  - var parent = 'components'
  - var title = 'Components - Spectre.css CSS Framework'
  - var description = 'Accordions, Avatars, Badges, Bars, Breadcrumbs, Cards, Chips, Empty states, Menu, Modals, Nav, Pagination, Panels, Popovers, teps, Tabs, TIles, Toasts, Tooltips'

block docs-content
  +docs-heading('components', 'Components')
    include _layout/_ad-g

    p
      strong Spectre.css
      | is a lightweight, responsive and modern CSS framework for faster and extensible development.
    p
      | Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.

    .docs-demo.columns
      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Accordions
          .card__body
            | Used to toggle sections of content
          .card__footer
            a.btn.btn--primary(href="components/accordions.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Avatars
          .card__body
            | User profile pictures
          .card__footer
            a.btn.btn--primary(href="components/avatars.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Badges
          .card__body
            | Used as unread number indicators
          .card__footer
            a.btn.btn--primary(href="components/badges.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Bars
          .card__body
            | Progress of a task or the value within the known range
          .card__footer
            a.btn.btn--primary(href="components/bars.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Breadcrumbs
          .card__body
            | Navigational hierarchies to indicate current location
          .card__footer
            a.btn.btn--primary(href="components/breadcrumbs.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Cards
          .card__body
            | Flexible content containers
          .card__footer
            a.btn.btn--primary(href="components/cards.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Chips
          .card__body
            | Complex entities in small blocks
          .card__footer
            a.btn.btn--primary(href="components/chips.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Empty states
          .card__body
            | Navigational hierarchies to indicate current location
          .card__footer
            a.btn.btn--primary(href="components/empty.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Menu
          .card__body
            | Vertical list of links or buttons for actions and navigation
          .card__footer
            a.btn.btn--primary(href="components/menu.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Modals
          .card__body
            | Flexible dialog prompts
          .card__footer
            a.btn.btn--primary(href="components/modals.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Nav
          .card__body
            | Vertical list of links
          .card__footer
            a.btn.btn--primary(href="components/nav.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Pagination
          .card__body
            | Vertical list of links or buttons for actions and navigation
          .card__footer
            a.btn.btn--primary(href="components/pagination.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Panels
          .card__body
            | Flexible view container with auto-expand content section
          .card__footer
            a.btn.btn--primary(href="components/panels.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Popovers
          .card__body
            | Small overlay content containers
          .card__footer
            a.btn.btn--primary(href="components/popovers.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Steps
          .card__body
            | Progress indicators of a sequence of task steps
          .card__footer
            a.btn.btn--primary(href="components/steps.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Tabs
          .card__body
            | Switch between different views
          .card__footer
            a.btn.btn--primary(href="components/tabs.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Tiles
          .card__body
            | Repeatable or embeddable information blocks
          .card__footer
            a.btn.btn--primary(href="components/tiles.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Toasts
          .card__body
            | Progress indicators of a sequence of task steps
          .card__footer
            a.btn.btn--primary(href="components/toasts.pug") View

      .column.col-6.col-xs-12
        .card
          .card__header
            .card__title.h5 Tooltips
          .card__body
            | Context information labels that appear on hover and focus
          .card__footer
            a.btn.btn--primary(href="components/tooltips.pug") View

    include _layout/_ad-c

  include _layout/_footer
