extends _layout/_docs-layout

block variables
  - var slug = 'elements'
  - var parent = 'elements'
  - var title = 'Elements - Spectre.css CSS Framework'
  - var description = 'Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block docs-content
  +docs-heading('elements', 'Elements')
    include _layout/_ad-g

    p
      strong Spectre.css
      | is a lightweight, responsive and modern CSS framework for faster and extensible development.
    p
      | Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.

    .docs-demo.columns
      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Typography
          .card__body
            | Headings, paragraphs, semantic text, blockquote and lists elements
          .card__footer
            a.btn.btn--primary(href="elements/typography.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Tables
          .card__body
            | Tables and data sets
          .card__footer
            a.btn.btn--primary(href="elements/tables.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Buttons
          .card__body
            | Simple button styles for actions in different types and sizes
          .card__footer
            a.btn.btn--primary(href="elements/buttons.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Forms
          .card__body
            | Input, textarea, select, checkbox, radio and switch
          .card__footer
            a.btn.btn--primary(href="elements/forms.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Icons
          .card__body
            | Single-element, responsive and pure CSS icons
          .card__footer
            a.btn.btn--primary(href="elements/icons.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Labels
          .card__body
            | Formatted text tags for highlighted, informative information
          .card__footer
            a.btn.btn--primary(href="elements/labels.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Code
          .card__body
            | Inline and multiline code snippets
          .card__footer
            a.btn.btn--primary(href="elements/code.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Media
          .card__body
            | Responsive images, figures and video
          .card__footer
            a.btn.btn--primary(href="elements/media.pug") View

    include _layout/_ad-c

  include _layout/_footer
