extends _layout/_docs-layout

block variables
  - var slug = 'experimentals'
  - var parent = 'experimentals'
  - var title = 'Experimentals - Spectre.css CSS Framework'
  - var description = 'Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block docs-content
  +docs-heading('experimentals', 'Experimentals')
    include _layout/_ad-g

    p
      | The Experimentals include experimental elements and features, mostly are not yet ready for wide use.
      | These elements and components are limited inside #[code spectre-exp.scss] before browsers fully support them.
      | Sometimes, there are some specific browsers targeted components.

    .docs-demo.columns
      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 360-Degree Viewer
          .card__body
            | Interactive 360-degree product photo viewer
          .card__footer
            a.btn.btn--primary(href="experimentals/autocomplete.pug") View
      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Autocomplete
          .card__body
            | Form component provides suggestions while you type
          .card__footer
            a.btn.btn--primary(href="experimentals/autocomplete.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Calendars
          .card__body
            | Date or date range picker and events display based on Flexbox
          .card__footer
            a.btn.btn--primary(href="experimentals/calendars.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Carousels
          .card__body
            | Pure CSS slideshows for cycling images
          .card__footer
            a.btn.btn--primary(href="experimentals/carousels.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Comparison sliders
          .card__body
            | Pure CSS sliders for comparing two images
          .card__footer
            a.btn.btn--primary(href="experimentals/comparison.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Filters
          .card__body
            | CSS only content filters
          .card__footer
            a.btn.btn--primary(href="experimentals/filters.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Meters
          .card__body
            | Representing the value within the known range
          .card__footer
            a.btn.btn--primary(href="experimentals/meters.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Off-canvas
          .card__body
            | Navigation layout that sidebars can slide in and out of the viewport
          .card__footer
            a.btn.btn--primary(href="experimentals/off-canvas.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Parallax
          .card__body
            | Pure CSS Apple TV/tvOS hover parallax effect
          .card__footer
            a.btn.btn--primary(href="experimentals/parallax.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Progress
          .card__body
            | Indicating the progress completion of a task
          .card__footer
            a.btn.btn--primary(href="experimentals/progress.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Sliders
          .card__body
            | Selecting values from ranges
          .card__footer
            a.btn.btn--primary(href="experimentals/sliders.pug") View

      .column.col--6.col--xs-12
        .card
          .card__header
            .card__title.h5 Timelines
          .card__body
            | Ordered sequences of activities
          .card__footer
            a.btn.btn--primary(href="experimentals/timelines.pug") View

    include _layout/_ad-c

  include _layout/_footer
