// Accordions
.accordion {
  input[type=radio],
  input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

    &:focus {
      &+ label {
        @include control-shadow();
      }
    }

    &:checked ~,
    &[open] {
      & .accordion-header {
        .icon {
          transform: rotate(90deg);
        }
      }
  
      & .accordion-body {
        max-height: 50rem;
      }
    }
  }

  .accordion-header {
    display: block;
    padding: $unit-1 $unit-2;

    .icon {
      transition: all .2s ease;
    }
  }

  .accordion-body {
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease;
  }
}

// Remove default details marker in Webkit
summary.accordion-header {
  &::-webkit-details-marker {
    display: none;
  }
}
