// Accordions
.accordion {
  input:checked ~, // input open
  &[open], // attribute open
  &--open { // class open
    & .accordion__header > {
      .icon:first-child { // assuming that the first icon is rotatable
        transform: rotate(90deg);
      }
    }

    & .accordion__body {
      max-height: 50rem;
    }
  }

  &__header {
    display: block;
    padding: $unit-1 $unit-2;

    .icon {
      transition: transform .25s;
    }
  }

  &__body {
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
  }
}

// Remove default details marker in Webkit
summary.accordion__header {
  &::-webkit-details-marker {
    display: none;
  }
}
