// Breadcrumbs
.breadcrumb {
  list-style: none;
  margin: $unit-1 0;
  padding: $unit-1 0;

  .breadcrumb-item {
    color: $gray-color-dark;
    display: inline-block;
    margin: 0;
    padding: $unit-1 0;

    &:not(:last-child) {
      @if $rtl == true {
        margin-left: $unit-1;
      } @else {
        margin-right: $unit-1;
      }

      a {
        color: $gray-color-dark;
      }
    }

    &:not(:first-child) {
      &::before {
        color: $gray-color-dark;
        @if $rtl == true {
          content: "\\";
          padding-left: $unit-2;
        } @else {
          content: "/";
          padding-right: $unit-2;
        }
      }
    }
  }
}
