// Dropdown
.#{$prefix}dropdown {
  display: inline-block;
  position: relative;

  .#{$prefix}menu {
    animation: #{$prefix}slide-down 0.15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
  }

  &.#{$prefix}dropdown-right {
    .#{$prefix}menu {
      left: auto;
      right: 0;
    }
  }

  &.#{$prefix}active .#{$prefix}menu,
  .#{$prefix}dropdown-toggle:focus + .#{$prefix}menu,
  .#{$prefix}menu:hover {
    display: block;
  }

  // Fix dropdown-toggle border radius in button groups
  .#{$prefix}btn-group {
    .#{$prefix}dropdown-toggle:nth-last-child(2) {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
