// Empty states (or Blank slates)
.#{$prefix}empty {
  background: $bg-color;
  border-radius: $border-radius;
  color: $gray-color-dark;
  text-align: center;
  padding: $unit-16 $unit-8;

  .#{$prefix}empty-icon {
    margin-bottom: $layout-spacing-lg;
  }

  .#{$prefix}empty-title,
  .#{$prefix}empty-subtitle {
    margin: $layout-spacing auto;
  }

  .#{$prefix}empty-action {
    margin-top: $layout-spacing-lg;
  }
}
