@use "sass:color";
@use "mixins";
@use "variables";

// Labels
.label {
  @include mixins.label-base();
  @include mixins.label-variant(color.adjust(variables.$body-font-color, $lightness: 5%), variables.$bg-color-dark);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem;
  }

  // Label colors
  &.label-primary {
    @include mixins.label-variant(variables.$light-color, variables.$primary-color);
  }

  &.label-secondary {
    @include mixins.label-variant(variables.$primary-color, variables.$secondary-color);
  }

  &.label-success {
    @include mixins.label-variant(variables.$light-color, variables.$success-color);
  }

  &.label-warning {
    @include mixins.label-variant(variables.$light-color, variables.$warning-color);
  }

  &.label-error {
    @include mixins.label-variant(variables.$light-color, variables.$error-color);
  }
}
