/**
  Todo: automate the steps and the grids using map
 */

// Layout
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
  width: 100%;

  $grid-spacing: calc($layout-spacing / ($layout-spacing)) * $html-font-size;

  @each $breakpoint, $breakpoint-width in $breakpoints {
    &.container--#{$breakpoint} {
      max-width: calc($grid-spacing * 2 + $breakpoint-width);
    }
  }
}

// Responsive breakpoint system
@each $breakpoint, $breakpoint-width in $breakpoints {
  .show--#{$breakpoint} {
    display: none !important;
  }
}

// Responsive grid system
.cols,
.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$layout-spacing;
  margin-right: -$layout-spacing;

  &.column--gapless {
    margin-left: 0;
    margin-right: 0;

    & > .column {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.column--oneline {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

[class~="col--" i],
.column {
  flex: 1;
  max-width: 100%;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;

  &.col--auto, &[class*="col--"] {
    flex: none;
  }
}

@for $i from 1 through $columns {
  .col--#{$i} {
    width: calc(($i / 12) * 100%)
  }
}


.col--auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}

.col--mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col--ml-auto {
  margin-left: auto;
}

.col--mr-auto {
  margin-right: auto;
}


@each $breakpoint, $breakpoint-width in $breakpoints {
  @include breakpoint-down($breakpoint) {

    $string: ".col--#{$breakpoint}-auto";

    @for $i from 1 through $columns {

      $string: $string + ", .col--#{$breakpoint}#{"-"}#{$i}";

      .col--#{$breakpoint}#{"-"}#{$i} {
        width: calc(($i / 12) * 100%)
      }
    }

    #{unquote($string)}{
      flex:none;
    }

    .show-#{$breakpoint}{
      display: block !important;
    }

    .hide-#{$breakpoint}{
      display:none !important;
    }
  }
}
