// Modals
.#{$prefix}modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: $layout-spacing;
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.#{$prefix}active {
    display: flex;
    opacity: 1;
    z-index: $zindex-4;

    .#{$prefix}modal-overlay {
      bottom: 0;
      background: rgba($bg-color, .75);
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .#{$prefix}modal-container {
      animation: #{$prefix}slide-down 0.2s ease 1;
      max-width: $control-width-md;
      width: 100%;
      z-index: $zindex-0;
    }
  }

  &.#{$prefix}modal-sm {
    .modal-container {
      max-width: $control-width-sm;
      padding: 0 $unit-2;
    }
  }

  &.#{$prefix}modal-lg {
    .#{$prefix}modal-overlay {
      background: $bg-color-light;
    }

    .#{$prefix}modal-container {
      box-shadow: none;
      max-width: $control-width-lg;
    }
  }
}

.#{$prefix}modal-container {
  background: $bg-color-light;
  border-radius: $border-radius;
  display: block;
  padding: 0 $unit-4;

  .modal-header {
    padding: $unit-4;
  }

  @include shadow-variant(.2rem);
  .modal-body {
    max-height: 50vh;
    overflow-y: auto;
    padding: $unit-4;
    position: relative;
  }

  .modal-footer {
    padding: $unit-4;
    text-align: right;
  }
}
