// Off canvas menus
$off-canvas-breakpoint: $size-lg !default;

.#{$prefix}off-canvas {
  display: flex;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;

  .#{$prefix}off-canvas-toggle {
    display: block;
    position: absolute;
    top: $layout-spacing;
    transition: none;
    z-index: $zindex-0;

    @if $rtl == true {
      right: $layout-spacing;
    } @else {
      left: $layout-spacing;
    }
  }

  .#{$prefix}off-canvas-sidebar {
    background: $bg-color;
    bottom: 0;
    min-width: 10rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: transform .25s ease;
    z-index: $zindex-2;

    @if $rtl == true {
      right: 0;
      transform: translateX(100%);
    } @else {
      left: 0;
      transform: translateX(-100%);
    }
  }

  .#{$prefix}off-canvas-content {
    flex: 1 1 auto;
    height: 100%;
    padding: $layout-spacing $layout-spacing $layout-spacing 4rem;
  }

  .#{$prefix}off-canvas-overlay {
    border-color: transparent;
    border-radius: 0;
    bottom: 0;
    display: none;
    background: rgba($dark-color, .1);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  .#{$prefix}off-canvas-sidebar {
    &:target,
    &.#{$prefix}active {
      transform: translateX(0);
    }

    &:target ~ .off-canvas-overlay,
    &.#{$prefix}active ~ .#{$prefix}off-canvas-overlay {
      display: block;
      z-index: $zindex-1;
    }
  }
}

// Responsive layout
@media (min-width: $off-canvas-breakpoint) {
  .#{$prefix}off-canvas {
    &.#{$prefix}off-canvas-sidebar-show {
      .#{$prefix}off-canvas-toggle {
        display: none;
      }

      .#{$prefix}off-canvas-sidebar {
        flex: 0 0 auto;
        position: relative;
        transform: none;
      }
    }
  }
}
