// Popovers
.#{$prefix}popover {
  display: inline-block;
  position: relative;

  .#{$prefix}popover-container {
    left: 50%;
    opacity: 0;
    padding: $layout-spacing;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s ease;
    width: $control-width-sm;
    z-index: $zindex-3;
  }

  *:focus + .#{$prefix}popover-container,
  &:hover .#{$prefix}popover-container,
  .#{$prefix}popover-container:hover {
    display: block;
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
  }

  &.#{$prefix}popover-right {
    .#{$prefix}popover-container {
      left: 100%;
      top: 50%;
    }

    :focus + .#{$prefix}popover-container,
    &:hover .#{$prefix}popover-container,
    .#{$prefix}popover-container:hover {
      transform: translate(0, -50%) scale(1);
    }
  }

  &.#{$prefix}popover-bottom {
    .#{$prefix}popover-container {
      left: 50%;
      top: 100%;
    }

    :focus + .#{$prefix}popover-container,
    &:hover .#{$prefix}popover-container,
    .#{$prefix}popover-container:hover {
      transform: translate(-50%, 0) scale(1);
    }
  }

  &.#{$prefix}popover-left {
    .#{$prefix}popover-container {
      left: 0;
      top: 50%;
    }

    :focus + .#{$prefix}popover-container,
    &:hover .#{$prefix}popover-container,
    .#{$prefix}popover-container:hover {
      transform: translate(-100%, -50%) scale(1);
    }
  }

  .#{$prefix}card {
    @include shadow-variant(0.2rem);
    border: 0;
  }
}
