// Tiles
.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;

  .tile__icon,
  .tile__action {
    flex: 0 0 auto;
  }
  .tile__content {
    flex: 1 1 auto;
    &:not(:first-child) {
      padding-left: $unit-2;
    }
    &:not(:last-child) {
      padding-right: $unit-2;
    }
  }
  .tile__title,
  .tile__subtitle {
    line-height: $line-height;
  }

  &.tile--centered {
    align-items: center;

    .tile__content {
      overflow: hidden;
    }

    .tile__title,
    .tile__subtitle {
      @include text-ellipsis();
      margin-bottom: 0;
    }
  }
}
