// Tiles
.#{$prefix}tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;

  .#{$prefix}tile-icon,
  .#{$prefix}tile-action {
    flex: 0 0 auto;
  }

  .#{$prefix}tile-content {
    flex: 1 1 auto;

    &:not(:first-child) {
      padding-left: $unit-2;
    }

    &:not(:last-child) {
      padding-right: $unit-2;
    }
  }

  .#{$prefix}tile-title,
  .#{$prefix}tile-subtitle {
    line-height: $line-height;
  }

  &.#{$prefix}tile-centered {
    align-items: center;

    .#{$prefix}tile-content {
      overflow: hidden;
    }

    .#{$prefix}tile-title,
    .#{$prefix}tile-subtitle {
      @include text-ellipsis();
      margin-bottom: 0;
    }
  }
}
