// Core variables
// Global
$html-font-size: 10px !default;
$html-line-height: 1.428571429 !default;
$body-bg: #fff !default;
$body-font-color: #333 !default;
$body-font-size: 1.4rem !default;
$body-font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif !default;

// Sizes
$layout-gutter: 1rem !default;

// Colors
$core-color: #5764c6 !default;
$core-secondary-color: lighten($core-color, 40%) !default;
$core-light-color: #fff !default;
$core-meta-color: #888 !default;
$core-link-color: #5764c6 !default;
$core-border-color: #efefef !default;
$control-color: #c5c5c5 !default;
$control-color-success: #32b643 !default;
$control-color-info: #0193eb !default;
$control-color-warning: #ffb700 !default;
$control-color-danger: #e85600 !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;

// Mixins
@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
@mixin toast-variant($color) {
  background: $color;
  border-color: darken($color, 2%);
  color: $core-light-color;
}
@mixin label-base() {
  border-radius: .2rem;
  display: inline;
  font-size: 1em;
  padding: .1em .3em;
  vertical-align: baseline;
}
@mixin label-variant($color) {
  background: $color;
  color: $core-light-color;
}
