// Core variables
$version: "0.5.9";

// Core features
$rtl: false !default;
$font-smoothing: false !default;

// Core colors
$primary-color: #5755d9 !default;
$primary-color-dark: darken($primary-color, 3%) !default;
$primary-color-light: lighten($primary-color, 3%) !default;
$secondary-color: lighten($primary-color, 37.5%) !default;
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

// Gray colors
$dark-color: #303742 !default;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 55%) !default;
$gray-color-dark: darken($gray-color, 30%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$bg-color: lighten($dark-color, 75%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;
$bg-color-light: $light-color !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e85600 !default;

// Other colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color-light !default;
$body-font-color: lighten($dark-color, 5%) !default;
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: "Helvetica Neue", sans-serif !default;
$cjk-zh-hans-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $fallback-font-family !default;
$cjk-zh-hant-font-family: $base-font-family, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Unit sizes
$unit-o: 0.0625rem !default; // 1px
$unit-h: .125rem !default; // 2px
$unit-1: .25rem !default; // 4px
$unit-2: .5rem !default; // 8px
$unit-3: .75rem !default; // 12px
$unit-4: 1rem !default; // 16px
$unit-5: 1.25rem !default; // 18px
$unit-6: 1.5rem !default; // 24px
$unit-7: 1.75rem !default; // 28px
$unit-8: 2rem !default; // 32px
$unit-9: 2.25rem !default; // 36px
$unit-10: 2.5rem !default; // 40px
$unit-12: 3rem !default; // 48px
$unit-16: 4rem !default; // 64px

// Font sizes
$html-font-size: 16px !default;
$html-line-height: 1.5 !default;
$font-size: 1rem !default; // 16px
$font-size-sm: .875rem !default; // 14px
$font-size-xs: .75rem !default; // 12px
$font-size-lg: 1.125rem !default; // 18px
$line-height: 1.5rem !default; // 24px?

// Heading sizes
$font-size-h1: 2.5rem; // 40px
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$layout-spacing-xl: $unit-6 !default;

// Borders
$border-radius: $unit-h !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$border-color: lighten($dark-color, 65%) !default;
$border-color-dark: darken($border-color, 10%) !default;
$border-color-light: lighten($border-color, 8%) !default;

// Controls
$control-size: $unit-9 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * .75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: calc(($control-size - $line-height) / 2 - $border-width) !default;
$control-padding-y-sm: calc(($control-size-sm - $line-height) / 2 - $border-width) !default;
$control-padding-y-lg: calc(($control-size-lg - $line-height) / 2 - $border-width) !default;
$control-icon-size: .8rem !default;


$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Layout
$columns: 12;

$breakpoints: (
        xs:480px,
        sm:600px,
        md:840px,
        lg: 960px,
        xl: 1290px,
        xxl: 1440px, // was 2x before
) !default;

$responsive-breakpoint: map-get($breakpoints, xs) !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
$zindex-5: 500 !default;
$zindex-6: 600 !default;
